/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*=========================================================================================*/
header h1 {
  color: palevioletred;
  font-size: 3rem;
  padding-left: 5%;
  padding-top: 2%;
  background-color: black;
}

header a {
  color: rgb(130, 236, 73);
  border: 0.2rem solid blue;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  margin-top: 1.5rem;
  display: inline-block;
  text-decoration: none;
  background-color: gray;
  margin-left: 3rem;
  margin-bottom: 1rem;
}
header nav {
  background-color: gray;
}
.bir {
  display: flex;
}
.bir img {
  aspect-ratio: 2/1;
  padding: 5%;
  border: 0.5rem solid black;
  width: 100%;
}
.foto {
  width: 50%;
}
.blog {
  width: 50%;
  display: flex;
  align-content: flex-end;
  flex-wrap: wrap;
  padding: 5%;
}
.blog h2 {
  width: 100%;
  font-size: 3rem;
}
.blog a {
  color: rgb(130, 236, 73);
  border: 0.2rem solid blue;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  margin-top: 1.5rem;
  display: inline-block;
  text-decoration: none;
  background-color: gray;
  margin-left: 3rem;
  margin-bottom: 1rem;
}
.iki {
  margin-top: 5vh;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5vh;
}
.iki div {
  width: 25%;
  text-align: center;
}
.iki div img {
  width: 80%;
  padding: 5%;
  aspect-ratio: 1;
  border: 0.5rem solid black;
  margin: 0.5rem;
}
.iki div p {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
}
footer div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3vh;
}
footer div p {
  width: 100%;
  font-size: 2rem;
  text-align: center;
}
footer div a {
  color: rgb(130, 236, 73);
  border: 0.2rem solid blue;
  border-radius: 0.5rem;
  margin-top: 1.5rem;
  display: inline-block;
  text-decoration: none;
  background-color: gray;
  padding: 0.5rem 3rem;
  margin: 5vh;
}
main {
  margin: 5vh;
}
